
$color-main: #6a9b3d;
$color-font: #38372d;
$color-back: #f0f0f0;


@mixin flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-large{
    //color: $color-main;
    font-size: 2.5em;
    @include font-bold;
}

@mixin font-bold{ //太字とするfont-weightが後に変更される可能性があるため mixinにしておく。
    font-weight: 800;
}