@import "_variables.scss";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,900&display=swap&subset=japanese');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    //border: 1px solid $color-font;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: $color-font;
}

a {
    color: $color-font;
    text-decoration: none;

    &:visited {
        color: $color-font;
    }
}

ul.menu {
    list-style: none;

}