@import "_variables.scss";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,900&display=swap&subset=japanese');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    //border: 1px solid $color-font;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 62.5%; //16px * 0.625 = 10px
    color: $color-font;
}
body {
    font-size: 1.4em; //10px * 1.4 = 14px
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
}

a {
    color: $color-font;
    text-decoration: none;

    &:visited {
        color: $color-font;
    }
}

body{
    background: $color-font;
}


.color-main {
    color: $color-main;
}


#menu{
    //padding-left: 10vw;
    display: flex;

    ul {
        margin-left: 10vw;
        width: 80vw;
        height: 95vh;

        display: flex;
        flex-shrink: 0;
        flex-direction: column;

        border: 10px solid $color-font;
        list-style: none;

        transition: all 500ms 0s ease;

        &.selected-menu{    //ul#menu.selected-menu li : いずれかが選択された状態
            margin-left: 0;
            width: 50vw;
            //max-width: 400px;
            
            li{
                padding: 10px 20px;
                font-size: 2.0em;

            }
        }

        li{                 //ul#menu li
            flex: 1;

            display: flex;
            align-items: center;

            padding: 10px 40px;

            order: 3;
            background: $color-back;
            @include font-bold;
            border: 2px solid $color-font;

            transition: all 500ms 0s ease;
            font-size: 3.0em;

            span{
                border-bottom: 10px solid transparent;
                span{
                    //border-bottom: 10px solid transparent;
                    white-space: nowrap;
                }
            }

            &:hover{
                span{
                    border-bottom: 10px solid $color-font;
                    span{
                        border-bottom: 10px solid $color-font;
                    }
                }
            }
            &.active-menu{  //選択されている<li>。
                flex: 4;
                //order: 2;
                background: $color-font;
                color: $color-back;
                font-size: 4.0em;
                //color: $color-main;
                span{
                    border-bottom: 10px solid $color-back;
                    span{
                        border-bottom: 10px solid $color-back;
                        &.menu-capital{
                            color: $color-main;
                        }
                    }
                }
            }
            &:nth-child(1){
                flex: 1;
                order: 1;
                background: $color-font;
                color: $color-back;
                font-size: 5.0em;
                &:hover{
                    span{
                        border-bottom: 10px solid $color-main;
                    }
                }
            }
        }
    }
}

#content{
        background: $color-main; 
        width: 0px;
        height: 95vh;
        color: $color-back;

        transition: all 1000ms 0s ease;
        opacity: 0.0;

        &.open-content{
            opacity: 1.0;
            width: auto;
        }

        
}
.content-outer{
    display: flex;
}
.content-header{
    height: 20%;
}
.content-inner{
    transition: all 1000ms 0s ease;
    width: 0px;
    overflow: hidden;
}

.active-content{ //content-inner を上書き
    width: 1000px;
}

.shine-maincolor{
    animation: shine-maincolor 2s ease 0s infinite alternate none running;
}
@keyframes shine-maincolor {
    0% {
        color: $color-back;
    }
    100% {
        color: $color-main;
    }
}